@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);

}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
}

.close-button {
  background: #000000;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  padding: 0;
  margin-left: 460px;
  margin-top: -50px;
 
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin: 15px 3px 15px 70px;

}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}
.header{
  margin-left: 70px;
  margin-top: -20px;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: large;
}
.text{
  margin-left: 70px;
  max-width: 420px;
  

}