body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  background: #eeeded;
  
}

.header {
  height: 35px;
  background: darkmagenta;
  color: white;
  font-weight: bolder;
  padding: 8px 0 5px 5px ;
  
}

#corpo{
  display: flex;
  min-height: calc(100vh - 107px);
 justify-content: space-between;
  gap: 16px;
 
}
.footer {
  height: 72px;
 background: #e2e1e1;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  
}
#cards{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  background: #eeeded;
  margin-top: 25px;
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 296px;
  height: 220px;
  font-size: 15px;
  
}
ul{
  list-style: none;
}
a{
  color: #f9f9f9;
  font-size: larger;
  font-weight: 500;
}