/* Add CSS Styling */
.click, .no-click{
    font-size: 28px;
    font: helvetica;
}
.click{
    background-color: black;
    color: white;
}
.no-click{
    background-color: yellow;
    color: red;
}