body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px, auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  margin: 16px, auto;
  padding: 15px;
  
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}


button {
  background: white;
  border: 1px solid #eee;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}